<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="{{ url_for('index') }}">
  
<link type="text/css" rel="stylesheet" 
	href = "{{ url_for('static', filename='rickshaw.min.css') }}">
<script src={{ url_for('static', filename='d3.min.js') }} 
		charset="utf-8"></script>
<script src={{ url_for('static',filename= 'd3.layout.min.js') }} 
	charset="utf-8"></script>
<script src="{{ url_for('static', filename='rickshaw.min.js') }}"
		charset="utf-8"></script>

  
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon"
  type="image/png"
  href="{{ url_for('static', filename='images/favicon.png') }}">
  {% block head %}
  <title>{%block title %}{% endblock %} - App Curator</title>
  {% endblock %}
</head>
<body>
<header>
</header>
{% block content %}
{% endblock %}
</body>
</html>